@use "../color";
@use "../font";

.button {
  @extend %control;
  max-width: 25rem;
  min-width: 15rem;
  &.primary {
    background-color: color.$primary;
  }
}

a.button {
  box-sizing: border-box;
}
