@use "../dimension";
@use "../app";

$busIconMarginOffset: -0.7rem;
$busIconWidth: 3.5rem;

.directions {
  @extend %para;
  padding: dimension.$control-padding-large;

  .reset,
  .select-landmark {
    align-items: center;
    display: flex;
    margin-top: dimension.$text-para-margin;

    > .button {
      flex: 0 0 5rem;
      margin-right: dimension.$space-normal;
      text-transform: capitalize;
    }
  }

  .reset {
    > .button {
      flex: initial;
    }
  }

  .route {
    margin-top: dimension.$space-large;

    .route-item {
      align-items: center;
      display: flex;
      overflow: hidden;
      position: relative;
      text-align: center;

      &.stop {
        margin-left: $busIconWidth + $busIconMarginOffset;
      }

      &.connection {
        > :first-child {
          flex: 0 0 $busIconWidth;
          margin-left: $busIconMarginOffset;
        }
      }

      & > svg {
        fill: var(--route-color);
      }
    }
  }
}
