@use "../color";
@use "../font";

$loadingDelay: 1.5s;
$loadingDuration: 1s;

.spinner {
  align-self: center;
  margin-top: -10rem;
  text-align: center;

  > .loading {
    animation-name: spin;
    animation-delay: $loadingDelay;
    animation-duration: $loadingDuration;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: flex;
    transform: scale(1);

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    > svg {
      animation-name: throb;
      animation-delay: $loadingDelay;
      animation-duration: $loadingDuration;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      fill: color.$primary;

      @keyframes throb {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  > .loading-message {
    @extend %text;
    font-size: font.$text-headline;
  }
}
