@use "../color";

$icon-size: 40px;

div.map {
  background: color.$tertiary;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  > div {
    height: 100%;
  }
}

.map-vehicle {
  height: $icon-size;
  width: $icon-size;

  &::before {
    content: url("../assets/icon-direction.svg");
    display: block;
    height: $icon-size;
    position: relative;
    transform: var(--vehicle-rotation);
    width: $icon-size;
  }

  &.no-direction {
    &::before {
      display: none;
    }
  }

  & > .map-vehicle-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    & > svg #bus-2:hover {
      cursor: default;
    }

    &.late > svg #icon-fill {
      fill: color.$vehicle-late;
    }
  }
}

.mapboxgl-canvas-container.mapboxgl-interactive.hover {
  cursor: pointer;
}
