@use "sass:math";
@use "../color";
@use "../dimension";
@use "../symbol";
@use "../app";

$bus-stop-bullet-height: 20px;

.content {
  .information {
    background-color: color.$color-app-background;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: dimension.$control-padding-large;
    position: absolute;
    top: 0;

    h1 {
      @extend %headline-1;
    }

    h2 {
      @extend %headline-2;
      margin: 0;
    }

    .description {
      @extend %para;
    }

    .landmarks {
      @extend %ulist;

      .landmark {
        @extend %list-item;

        button {
          height: dimension.$control-height;
          margin: dimension.$text-para-margin 0 0 0;
        }

        .symbol-container {
          display: flex;

          > :first-of-type {
            margin-left: 0;
          }
        }
      }

      .stop {
        list-style-type: none;

        &::before {
          background: {
            image: url("../assets/symbols.svg");
            position: $bus-stop-bullet-height * -21;
            size: cover;
          }
          content: "";
          height: $bus-stop-bullet-height;
          margin: 0 0 0 $bus-stop-bullet-height * -1;
          margin-top: dimension.$text-para-margin +
            math.div((dimension.$control-height - $bus-stop-bullet-height), 2);
          width: $bus-stop-bullet-height;
          position: absolute;
        }
      }
    }

    .tip {
      @extend %tip;
      background: color.$secondary-lightest;
    }

    .warning {
      @extend %tip;
      background: color.$warning;
    }
  }
}
