/* Palette URL: http://paletton.com/#uid=3070u0khyta78N-cuAIlSo-q8jV */
$primary: #e87d69;
$secondary: #457e91;
$tertiary: #a4d560;

$color-app-background: white;
$color-complement-1: #e0f7e8;
$background: white;
$background-modal: #00000044;
$text: black;
