/* three color: http://paletton.com/#uid=3070u0khyta78N-cuAIlSo-q8jV */
$primary: #e87d69;
$secondary: #457e91;
$secondary-light: #6ea0b0;
$secondary-lighter: #a9ccd7;
$secondary-lightest: #e4f7fd;
$tertiary: #a4d560;

$background: white;
$background-modal: #00000044;
$color-app-background: white;
$color-complement-1: #e0f7e8;
$control-background: #e3e3e3;
$text: black;
$text-inverse: white;

/* four color: https://paletton.com/#uid=7070u0khyta78N-cuAIlSo-q8jV */
$warning: #fff1c6;
