@use "sass:math";

$control-height: 37px;
$control-height-2: $control-height * 1.2;
$control-height-half: math.div($control-height, 2);
$control-border-radius-h: math.div($control-height, 2);
$control-border-radius-v: math.div($control-height, 2);
$control-margin-h: math.div($control-height, 10);
$control-margin-v: 3px;
$control-padding: 3px;
$control-padding-large: $control-padding * 4;
$control-rounded-border-radius-h: 5px;
$control-rounded-border-radius-v: 5px;

$button-border-width: 1.5px;
$button-width: $control-height * 3.5;

$icon-size: 35px;

$modal-height: 70%;
$modal-margin-bottom: 10%;
$modal-max-height: 400px;
$modal-max-width: 240px;
$modal-min-width: 170px;
$modal-width: 75%;

$symbol-border: 0;
$symbol-margin-h: 3px;
$symbol-rounded-border-radius-h: 3px;
$symbol-rounded-border-radius-v: 3px;
$symbol-small: 20px - ($symbol-border * 2);

$text-custom-bullet-spacing: 8px;
$text-body-line-height: 1.35em;
$text-para-margin: 8px;
$text-heading-margin: $text-para-margin + 8;
$text-tip-padding: $control-padding * 2;
