$text-default: 1rem;
$text-body: $text-default * 1.8;
$text-control: $text-default * 2.5;
$text-control-small: $text-default * 2;
$text-headline: $text-default * 2.4;
$text-headline-2: $text-default * 2;
$text-tip: $text-default * 1.6;

$route-circle: $text-default * 2;

/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/lato-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/lato-regular-italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/lato-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/oswald-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

%control {
  font: {
    family: "Oswald";
    size: $text-control;
    weight: 400;
  }
}

%control-small {
  font: {
    size: $text-control-small;
  }
}

%text {
  font: {
    size: $text-body;
    weight: 400;
  }
}

%text-family {
  font-family: "Lato", sans-serif;
}

%text-italic {
  @extend %text;
  font: {
    size: $text-tip;
    style: italic;
    weight: 400;
  }
}

%title {
  font: {
    family: "Oswald";
    weight: 600;
  }
}

%title-1 {
  @extend %title;
  font: {
    size: $text-headline;
  }
}
